.vercel/
*.log
node_modules/
.DS_Store
Thumbs.db

# Next.js
.next/
out/
next-env.d.ts
*.tsbuildinfo

# Env
.env*.local
.env

# InsForge & AI agent skills
.insforge
.agent
.agents
.augment
.claude
.cline
.github/copilot*
.kilocode
.qoder
.qwen
.roo
.trae
.windsurf
